* {
    box-sizing: border-box;
}

html,
body,
.main {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    background-color: #222;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 10%;
    height: 100vh;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.type-button {
    padding: 1rem 0.5rem;
    margin: 1rem 0.2rem;
    border-radius: 10px;
    text-align: center;
    background: transparent;
    border: 1px solid rgba(200, 40, 255, 0.2);
    cursor: pointer;
}

.type-button.selected {
    background-color: rgba(200, 40, 255, 0.2);
    border: none;
}

.error {
    display: none;
    /* Add the .show to reveal */
    background-color: #aa000066;
    padding: 1rem 1.25rem;
    margin: 0.5rem;
    border-radius: 10px;
}


.banner {
    margin: 0.5rem;
}

@keyframes loop {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.loader {
    display: none;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    height: 20px;
    margin: 3rem 1rem;
}

.loader::after {
    content: ' ';
    display: block;
    position: absolute;
    height: 100%;
    width: 200%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, .25) 25%, rgba(0, 0, 0, 0.25) 50%, rgba(255, 255, 255, .25) 75%, rgba(0, 0, 0, 0.25) 100%);
    background-repeat: repeat-x;
    animation-name: loop;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.highlight {
    display: none;
    /* Add the .show to reveal */
    font-size: 5vw;
    text-align: center;
    background-color: #4444ff66;
    border-radius: 10px;
    padding: 2rem 2.5rem;
    margin: 0.5rem;
}

.show {
    display: block;
}

.more {
    bottom: 1rem;
    text-align: center;
}

.lower {
    background-color: #444;
}

.list {
    list-style: none;
    margin: 0;
    padding: 3rem 1rem;
    text-align: center;
}