html,
body,
.main {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    background-color: #222;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    display: none;
    /* Add the .show to reveal */
    background-color: #aa000066;
    padding: 1rem 1.25rem;
    margin: 1rem;
    border-radius: 5px;
}


.banner {
    /* Empty */
}

@keyframes loop {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.loader {
    display: none;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    width: 900px;
    height: 20px;
    margin: 3rem 1rem;
}

.loader::after {
    content: ' ';
    display: block;
    position: absolute;
    height: 100%;
    width: 200%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, .25) 25%, rgba(0, 0, 0, 0.25) 50%, rgba(255, 255, 255, .25) 75%, rgba(0, 0, 0, 0.25) 100%);
    background-repeat: repeat-x;
    animation-name: loop;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.movie {
    display: none;
    /* Add the .show to reveal */
    font-size: x-large;
    background-color: #4444ff66;
    border-radius: 5px;
    padding: 2rem 2.5rem;
    margin: 1rem;
}

.show {
    display: block;
}